.modal-body img {
  max-width: 100%;
  height: auto;
}

.add-coffee {
  background-color: #4b4237ff !important;
  margin-left: 10px;
  color: white;
}


.add-coffee:hover {
  background-color: #ede7d9ff !important;
  color: #4b4237ff !important;
}