html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  --taupe: #4b4237ff;
  --goldenrod: #d5a021ff;
  --alabaster: #ede7d9ff;
  --taupe-gray: #a49694ff;
  --dim-gray: #736b60ff;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}
