html,
body {
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffe5c9 100%);
  margin: 0;
  padding: 0;
  min-height: 100%; /* Cambiar height a min-height */
  display: flex;
  flex-direction: column;
}

#root {
  --taupe: #4b4237ff;
  --goldenrod: #d5a021ff;
  --alabaster: #ede7d9ff;
  --taupe-gray: #a49694ff;
  --dim-gray: #736b60ff;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: inherit; /* Asegura que el fondo se herede */
}

.table {
  margin-bottom: 40px; /* Ajusta el margen inferior según sea necesario */
}
